@import '../styles/variables.scss';

.lessonCard {
  text-align: center;
  background-color: $primary-color;
  color: $secondary-color;
  height: 12em;

}
.bullets {

  background-color: red;
  .hasView {
    background-color: blue;
  }
}