@import "../styles/variables.scss";

.header {
    
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    background-color: $secondary-color;
    border-radius: 5px 5px 0 0;
    margin:0 auto;
    padding: 0.1em  0.1em 0;
    overflow: hidden;
    justify-content: flex-end;
}


.headerLinks li {
    display: inline-block;
    margin: 0 auto;
    margin: 0 1em 0 1em;
    padding: 0.5em 0.25em 0.5em 0.25em ;
    background-color: $primary-color;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 150px;
    border-radius: 5px;
    text-align: center;
    font-size: large;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.headerLinks li:hover{
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
}